.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.infinite-text {
  width: 100%;
  height: 100%;
}

.h1 {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 500;
  font-size: 11px;
  line-height: 5px;
  letter-spacing: 0.2px;
  
  z-index: 100px;
}